
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* RESPONSIVE */
@media (max-width:700px){ 
    header,
    .logo,
    div img,
    footer h1,
    h2{
        flex-direction: column;
    }
}
body{
    margin: auto; /*Con esto quito los margenes para que se diferencia del background*/
    background-color:whitesmoke;
    box-sizing: border-box;
   
}
/*FOOTER*/
header{
    border: auto;
    display: flex; /*Quiero que se vea horizontal*/
    justify-content: space-between; /*para que los contenidos dentro del header se separen  uno este es A y el otro en B*/
    min-height: 70px; /*Le doy un min al alto para que se adapte al responsive*/
    align-items: center;/*Alineo los elementos Verticalmente*/
    background-color: #D6D6D6;
    padding: 9px; /*Mpver los elementos de su orden*/
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;


}
.logo{
  display: flex; /*Agarro todo el contenido que quiero que sea horizontal*/
  align-items: center;/*Alineo los elementos Verticalmente*/
}
.logo img{
     height:  50px; /*Le doy una altura minima 50 px para que me quede tipo logo*/
    align-items: center;/*Alineo los elementos Verticalmente*/
    margin-right: 53px;/*Separo el texto de la imagen*/
}
a{
    text-decoration: none;/*Le saco los hipervinculos raros*/
    color: #20D1A1;/*Le doy color*/
    padding-right: 20px;/*Doy espacio entre palabra y palabra*/
}

nav a:hover{
    color: grey;/*Le doy un estilo a la hora de pasar el scroll*/
}
h2:hover{
    color: grey;/*Le doy un estilo a la hora de pasar el scroll*/
}

/*//////////////////////////////////////////////////////////////////////////*/
/*MAIN*/
main img{
    height: 600px;
} 
.slider-frame {
    
	width: 960px;
    height:auto ;
	margin:10px auto 0;
	overflow: hidden;
}

.slider-frame ul {
    width: 400%;
    
	display: flex;
	padding: 0;
	
	animation: slide 16s infinite alternate ease-in-out;
}

.slider-frame ul li {
	width: 100%;
    height: 600px;
	list-style: none;
}

.slider-frame div ul li img {
	width: 80%;
   
}

@keyframes slide {
	0% {margin-left: 5%;}
	20% {margin-left: 5%;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
.main{
   
	background-color: #D6D6D6;
}
/*FOOTER*/
.logoPreguntasFrecuentes img{
    float: right;
    height: 500px;
    width: 600px;
    position: relative;
    top: 150px;
}
.logoPreguntasFrecuentes h1{
    color:#20D1A1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    text-align: center;
    padding: 10px;
    text-align: center;

}
/* CONTENEDOR DE PREGUNTAS */
/* CONTENEDOR DE PREGUNTAS */
/* CONTENEDOR DE PREGUNTAS */
/* CONTENEDOR DE PREGUNTAS */


.contenedor-preguntas{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.contenedor-pregunta{
    background:white;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 80px;
    overflow: hidden;
    transition: .3s ease all;
    cursor: pointer;
}
.contenedor-pregunta:hover{
    color: green;
}
/* SECCION PREGUNTAS */
/* SECCION PREGUNTAS */
/* SECCION PREGUNTAS */
/* SECCION PREGUNTAS */

.pregunta{
    font-weight: 500;
    font-size: 25px;
    line-height: 20px;
    display:flex;
    justify-content: space-between;
    
}
.pregunta img{
    width: 12px;
}


/* SECCION RESPUESTA */
/* SECCION RESPUESTA */
/* SECCION RESPUESTA */
/* SECCION RESPUESTA */

.respuesta{
    color: black;
    line-height: 30px;
    font-size: 20px;

    max-height: 0;
    opacity: 0;
    transition: .3s ease all; 
}
.contenedor-pregunta.activa .respuesta{
    opacity: 1;
    margin-top: 20px;
    border-bottom: 1px solid green;
}
.contenedor-pregunta.activa img{
   transform: rotate(25deg);
}




@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#grup-dev{
    width: 100%;
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: white;
    background-color: #00bd8a;
}
#cont-dev{
    font-size: 1.5rem;
    background-color: #d6d6d6;
    width: 100%;
    height: 200px;
   
    
}

.dev img{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-right: 1rem;
    justify-content: center;

}
.dev{
    display: inline-flex;
    flex-direction: row;
    column-gap: gap;
    color: #00bd8a;
    margin: 1rem;
}
#red{
    background-color: #00bd8a ;
    width: 100%;
    height: 40px;
    text-align:left;
}
#red img{
    width: 25px;
    height: 25px;
   border-radius: 10px;
   box-shadow: 1px;
}
#red button{
    border-radius: 25px;
}
#grup-dev h2{
    font-size: 1rem;
    color: black;
}












