@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
    margin: auto; /*Con esto quito los margenes para que se diferencia del background*/
    background-color:whitesmoke;
    box-sizing: border-box;
   
}
header{
    border: auto;
    display: flex; /*Quiero que se vea horizontal*/
    justify-content: space-between; /*para que los contenidos dentro del header se separen  uno este es A y el otro en B*/
    min-height: 70px; /*Le doy un min al alto para que se adapte al responsive*/
    align-items: center;/*Alineo los elementos Verticalmente*/
    background-color: #D6D6D6;
    padding: 9px; /*Mpver los elementos de su orden*/
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;


}
.logo{
  display: flex; /*Agarro todo el contenido que quiero que sea horizontal*/
  align-items: center;/*Alineo los elementos Verticalmente*/
}
.logo img{
     height:  50px; /*Le doy una altura minima 50 px para que me quede tipo logo*/
    align-items: center;/*Alineo los elementos Verticalmente*/
    margin-right: 53px;/*Separo el texto de la imagen*/
}
a{
    text-decoration: none;/*Le saco los hipervinculos raros*/
    color: #20D1A1;/*Le doy color*/
    padding-right: 20px;/*Doy espacio entre palabra y palabra*/
}

nav a:hover{
    color: grey;/*Le doy un estilo a la hora de pasar el scroll*/
}
h2:hover{
    color: grey;/*Le doy un estilo a la hora de pasar el scroll*/
}
/* RESPONSIVE */
@media (max-width:700px){ 
    header,
    .logo,
    div img,
    footer h1,
    h2{
        flex-direction: column;
    }
}
/*//////////////////////////////////////////////////////////////////////////*/
main img{
    height: 600px;
} 
.slider-frame {
    
	width: 960px;
    height:auto ;
	margin:10px auto 0;
	overflow: hidden;
}

.slider-frame ul {
    width: 400%;
    
	display: flex;
	padding: 0;
	
	animation: slide 16s infinite alternate ease-in-out;
}

.slider-frame ul li {
	width: 100%;
    height: 600px;
	list-style: none;
}

.slider-frame div ul li img {
	width: 80%;
   
}

@keyframes slide {
	0% {margin-left: 5%;}
	20% {margin-left: 5%;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
.main{
   
	background-color: #D6D6D6;
}
/* CUANDO LA VENTANA SEA MENOR A 700PX QUE LOS ELEMENTOS DE MI CONTENEDOR
HEADER SE ENCOLUMNEN UNO ABAJO DEL OTRO */
/*HEADER*/
/*FOOTER
footer{
    min-height: 70px;
    background-color: whitesmoke;
    align-items: center;
}
div img{
    float:right;
    max-width: 700px;
    margin: auto;
}
h1{
    color: #20D1A1;
    max-width: 700px;
    font-size: 55px;
    padding-top:2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    margin:auto;

}
nav ul li{
    color: black;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;    

}


*/




















